	.footer {
	background-color:  #0f0f0a;	
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 13;
 	p{
		color: $lightText;
		font-weight: 400;
		font-size: 18px;	
	}
	h1{
		font-size: 20px;	
		font-weight: 200;
 		color: rgba($brand-primary, 0.4);	
	}
}

.social{
   		padding-top: 30px;

		ul{	    
		list-style: none;
    	padding: 0;
    	margin: 0px
		}
			li{
			list-style: none;
			padding: 0;
			margin: 30px;
			display: inline;
			}
			a{
				color: white;
				font-size: 24px;

			&:hover{
				color: $brand-primary;
				}
			}
		
}

.copyright{
	padding-top:50px;
	
	p{
		padding-top:30px;
		color: white;
	}
}