#whatWeDo {
  height: 700px;
  position: relative;
  width: 100%;
  left: 0;
  z-index: 30;
  background-image: url("../images/background1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    :first-child {
      position: relative;
      bottom: 0px;
      left: 0px;
      background-color: rgba(125, 125, 125, 0.2);
      transform: rotate(47deg);
      width: 100%;
      height: 100%;
      border: 1px solid rgba(255, 255, 255, 0.14);
      z-index: 10;
    }
    :nth-child(2) {
      position: relative;
      bottom: 200%;
      left: -1px;
      background-color: rgba(125, 125, 125, 0);
      transform: rotate(180deg);
      width: 35%;
      height: 250%;
      border: 1px solid rgba(255, 255, 255, 0.24);
      z-index: 10;
    }
    :nth-child(3) {
      position: absolute;
      bottom: -100px;
      right: -1px;
      background-color: rgba(125, 125, 125, 0.1);
      transform: rotate(-8deg);
      width: 35%;
      height: 250%;
      border: 1px solid rgba(255, 255, 255, 0.34);
      z-index: 10;
    }

  }
  .skills {
    width: 100%;
    height: 100%;
    z-index: 30;
    div:first-of-type {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: rgba($lightText, 0.5);
      border: 1px solid $lightText;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 40px;
      color: $darkText;
      position: relative;
      top: 10%;
      left: 10%;
    }
    div:nth-of-type(2) {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background-color: rgba($lightText, 0.2);
      border: 1px solid $lightText;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 40px;
      color: $lightText;
      position: relative;
      top: 6%;
      left: 10%;
    }
    div:nth-of-type(3) {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: rgba($lightText, 0.5);
      border: 1px solid $lightText;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 40px;
      color: $darkText;
      position: relative;
      top: -68%;
      left: 30%;
    }
    h4 {
      color: $brand-primary;
      font-size: 20px;
    }
  }
 }

