#whatWeDo {
  height: 500px;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 30;
  background-image: url("../images/background1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    :first-child {
      position: relative;
      bottom: 0px;
      left: 0px;
      background-color: rgba(125, 125, 125, 0.36);
      transform: rotate(47deg);
      width: 100%;
      height: 100%;
      border: 1px solid rgba(255, 255, 255, 0.44);
      z-index: 10;
    }
    :nth-child(2) {
      position: relative;
      bottom: 200%;
      left: 0px;
      background-color: rgba(125, 125, 125, 0);
      transform: rotate(180deg);
      width: 400px;
      height: 250%;
      border: 1px solid rgba(255, 255, 255, 0.44);
      z-index: 10;
    }
    :nth-child(3) {
      position: relative;
      bottom: 200%;
      left: 0px;
      background-color: rgba(125, 125, 125, 0.36);
      transform: rotate(180deg);
      width: 400px;
      height: 250%;
      border: 1px solid rgba(255, 255, 255, 0.44);
      z-index: 10;
    }

  }
 }

