#whoWeAre{
	z-index: 10;
	overflow: hidden;
	div{
		position: relative;
		article{
			width: 50%;
			height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
		}
		aside{
			width: 50%;
			height: 500px;
			display: block;
			position: absolute;
			background-image: url(../images/cut-first.png);
			background-size: 60px 100%;
			background-repeat: no-repeat;
			background-position: top left;
			right: 60px;
			top: 0;
			div{
				width: 100%;
				height: 100%;
				padding: 0 20%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.dejan{
		article{
			background-image: url(../images/dejan.jpg);
			left: 0;
			width: calc(50% + 60px);
		}
		aside{
			right: 0px;
		}
	}
	.drobke{
		article{
			background-image: url(../images/drobke.jpg);
			left: 50%;
		}
		aside{
			left: 60px;
			background-image: url(../images/cut-second.png);
			background-position: top right;
		}
	}
	.mladja{
		article{
			background-image: url(../images/mladja.jpg);
			left: 0;
		}
	}
}